.order {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 30px;

  &:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  }
}

.order-left {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    display: flex;
    color: #333;
    font-weight: bold;
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px 12px;
    background-color: #2980b9;
    max-width: 137px;
    height: 36px;

    &__title {
      display: flex;
      white-space: nowrap;
      font-size: 13px;
      font-weight: 600;
      color: #ebebeb;
    }

    &__icon {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: blue;
      color: #ebebeb;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.order-left__button:hover .order {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.order-right {
  display: flex;
  align-items: center;
  gap: 20px;

  .divider {
    height: 47px;
    width: 1px;
    background-color:#8c8c8c;
  }

  .actions {
    display: flex;
    flex-direction: column;
    
    gap: 10px;

    &__count-other {
      display: flex;
      align-items:center;
      gap: 10px;

      &__other {
        display: flex;
      }
    }
  }
}







