<div (click)="navigateToDetail()" class="order">
  <div class="order-left">
    <div class="order-left__title" >Заказ #{{item?.id}}-0{{item?.id}}</div>
    <div class="order-left__button">
      @if(history) {
        <p-button label="Заказ завершен" icon="pi pi-check" [severity]="'success'" iconPos="right" />
      } @else {
        @if(item?.isConfirmed) {
          <p-chip  [style]="{background: '#3B82F6', color: '#fff'}"  [pTooltip]="tooltipContent1"  label="Заказ принят" icon="pi pi-check" iconPos="right" />
        } @else {
          <p-chip [pTooltip]="tooltipContent2" label="Заказ ожидает подтверждения" />
        }
      }
  
      <ng-template #tooltipContent1>
        <div class="flex align-items-center">
            <span> Ожидайте получения заказа</span>
        </div>
      </ng-template>
      <ng-template #tooltipContent2>
        <div class="flex align-items-center">
            <span> Вам на почту отправлено письмо, зайдите и подтвердите заказ. </span>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="order-right">
    <div class="divider"></div>
    <div class="actions">
      <div class="actions__count-other">
        <div class="actions__count-other__count">{{countProducts}}</div>
      </div>
      <div class="actions__price">{{item?.total}} BYN</div>
    </div>
  </div>
</div>
