:host {
  width: 100%;
}

.order {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 30px;

  &:hover:not(.isConfirmed) {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  }
}

.order-left {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    display: flex;
    color: #333;
    font-weight: bold;
  }

  
}

.order-left__button:hover .order {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.order-right {
  display: flex;
  align-items: center;
  gap: 20px;

  .divider {
    height: 47px;
    width: 1px;
    background-color:#8c8c8c;
  }

  .actions {
    display: flex;
    flex-direction: column;
    
    gap: 10px;

    &__count-other {
      display: flex;
      align-items:center;
      gap: 10px;

      &__other {
        display: flex;
      }

      &__count {
        width: 120px;
      }
    }

    &__price {
      color: #333;
      font-weight: bold;
    }
  }
}







