
.main {
  margin-top: 24px;
  &__title {
    font-size: 26px;
  }

  .category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__title {
      font-size: 30px
    }

    &__items {
      background-color: #fafafa;
      width: 100%;
      display: flex;
      padding-top: 14px;
      padding-bottom: 14px;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__item {
      border:none;
      cursor: pointer;
      background: white;
      padding: 16px;
      width: 310px;
      height: 76px;
      display: flex;
      align-items: center;
      gap: 25px;

      &__image {
        height: 60px;
      }

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }

  }
}



