<div class="container">
  <div class="main">
    <div class="main__title">Каталог автозапчастей</div>
    <div class="category">
      <div class="category__title">Категории</div>
      <div class="category__items">
            @for(item of (categories$ | async ); track item.id) {
              <div class="category__item">
                <img class="category__item__image" src="assets/images/disc.jpg" alt="">
                <div class="category__item__label">{{item.name}}</div>
              </div>
            } @empty {
              @for(item of [1,2,3,4,5,6,7,8,9,11,12,13]; track item) {
                <div class="category__item">
                  <div class="category__item__image">
                    <p-skeleton width="60px" height="60px" borderRadius="50%"></p-skeleton>
                  </div>
                  <div class="category__item__label">
                    <p-skeleton width="170px" height="20px"></p-skeleton>
                  </div>
                </div>
              }
            }
      </div>
    </div>
  </div>
</div>
