<div class="container">

  <div class="wrapper">
    <div class="wrapper__title">Гараж</div>
    <div class="car">
      <div class="car__title">
        <img src="assets/icons/garage.svg" alt="garage-icon">
        <div class="car__title__label">Гараж</div>
      </div>
      <div class="car__divider"></div>
      <div class="car__mark">
        <p-dropdown
          [(ngModel)]="selectedMark"
          [editable]="true"
          placeholder="Выберите марку"
          [options]="marks"
          optionLabel="name"
          optionValue="id"
          (onChange)="onChangeMark($event)"
        ></p-dropdown>
      </div>
      <div class="car__model">
        <p-dropdown
          [options]="models"
          [(ngModel)]="selectedModel"
          [loading]="loading"
          [editable]="true"
          (onChange)="onChangeModel($event)"
          placeholder="Выберите модель"
          optionLabel="name"
          optionValue="id"
        ></p-dropdown>
      </div>
      <div class="car__image">
        <img [src]="carImage ? 'assets/images/' + carImage + '.webp' : 'assets/images/zaglushka.webp'" alt="car-image">
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main__title">Каталог автозапчастей</div>
    <div class="category">
      <div class="category__title">Категории</div>
      <div class="category__items">
            @for(item of (categories$ | async ); track item.id) {
              <button (click)="navigateToAutoPart(item.id)" class="category__item">
                <img class="category__item__image" [src]="'assets/images/'+ item.image +'.webp'" alt="">
                <div class="category__item__label">{{item.name}}</div>
              </button>
            } @empty {
              @for(item of [1,2,3,4,5,6,7,8,9,11,12,13]; track item) {
                <div class="category__item">
                  <div class="category__item__image">
                    <p-skeleton width="60px" height="60px" borderRadius="50%"></p-skeleton>
                  </div>
                  <div class="category__item__label">
                    <p-skeleton width="170px" height="20px"></p-skeleton>
                  </div>
                </div>
              }
            }
      </div>
    </div>
  </div>
</div>
