<div class="header">
  <div class="container">
    <button routerLink="/" class="header__logo">
      <div class="header__logo__label">E</div>
      <img src="assets/icons/logo.svg" alt="logo">
      <div class="header__logo__label">PERT CAR</div>
    </button>
    <div class="header__search p-input-icon-left">
      <i class="pi pi-search"></i>
      <input (input)="changeSearch()" placeholder="Поиск" type="text" pInputText [(ngModel)]="value"/>
    </div>
    <div class="header__basket">
<!--      <img width="25" src="assets/icons/basket.svg" alt="basket-icon">-->
      <i style="font-size: 25px" class="pi pi-cart-plus" pBadge [value]="(basketService.basket$ | async)?.length || 0"></i>
      <div class="header__basket__label">Корзина</div>
    </div>
  </div>
</div>

