<div class="header">
  <div class="container">
    <button routerLink="/" class="header__logo">
      <div class="header__logo__label">E</div>
      <img src="assets/icons/logo.svg" alt="logo">
      <div class="header__logo__label">PERT CAR</div>
    </button>

    @if(!isCartPage) {
      <div class="header__search p-input-icon-left">
        <i class="pi pi-search"></i>
        <input (input)="changeSearch()" placeholder="Поиск" type="text" pInputText [(ngModel)]="value" />
      </div>
    }


      <div (click)="toCart()" class="header__basket">
        <i style="font-size: 25px" class="pi pi-cart-plus" pBadge [badgeDisabled]="!authService.isAuth"
          [value]=" (basketService.basket$ | async)?.length || 0"></i>
        <div class="header__basket__label">Корзина</div>
      </div>
      <div (click)="toOrder()" class="header__order">
        <i style="font-size: 25px" class="pi pi-list" pBadge [badgeDisabled]="!authService.isAuth"
           [value]="(orderService.orders$ | async)?.length || 0"></i>
        <div class="header__basket__label">Заказы</div>
      </div>
      @if(authService.isAuth) {
        @if(user?.image) {
          <p-avatar routerLink="profile" size="large"
          [image]="user?.image"
          shape="circle" />
        } @else {
          <a routerLink="profile" class="avatar">{{user?.name?.[0] || 'U'}}</a>
        }
      } @else {
        <p-button (click)="visibleLogin=true" icon="pi pi-user" [rounded]="true" severity="info" />
      }


  </div>
</div>

<app-registration-modal (onHide)="visibleRegistration = false" [visible]="visibleRegistration"
  (onNavigateToLogin)="visibleLogin = true"></app-registration-modal>
<app-login-modal (onHide)="visibleLogin=false" [visible]="visibleLogin"
  (onNavigateToRegistration)="visibleRegistration=true"></app-login-modal>
