:host {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  background-color: #fafafa;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .container {
    height: 80px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 50px;
    @media(max-width:704px) {
      display: flex;
      gap: 30px;
    }
  }


  &__logo {
    cursor: pointer;
    display: flex;
    border: none;
    background: transparent;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: auto;
    letter-spacing: 4px;
    font-size: 25px;
    white-space: nowrap;
    @media(max-width:704px) {
      display: flex;
      
    }
    .header__logo__label {
      @media(max-width:704px) {
        display: none;
      }
    }
    img {
      height: 60px;
    }
  }
  &__search {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    // i::before {
    //   position: absolute;
    //   top:-8px;
    // }
    @media(max-width:704px) {
      display: none;
    }
    input {
      width: 100%;
    }
  }

  &__searchh {
    display: none;
    padding: 0 5px;
    @media(max-width:704px) {
      display: flex;
      align-items:center;
      justify-content: center;
    }
    input {
      width: 100%;
    }
  }

  &__basket, &__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    cursor: pointer;
  }

  .avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    font-size: 25px;
  }
}
