<div class="header">
  <div class="container">
    <button routerLink="/" class="header__logo">
      <div class="header__logo__label">E</div>
      <img src="assets/icons/logo.svg" alt="logo">
      <div class="header__logo__label">PERT CAR</div>
    </button>
    <div class="header__search p-input-icon-left">
      <i class="pi pi-search"></i>
      <input (input)="changeSearch()" placeholder="Поиск" type="text" pInputText [(ngModel)]="value"/>
    </div>
    <div class="header__basket">
      <i style="font-size: 25px" class="pi pi-cart-plus" pBadge [value]="(basketService.basket$ | async)?.length || 0"></i>
      <div class="header__basket__label">Корзина</div>
    </div>
    <p-avatar (click)="visibleLogin=true" size="large" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
  </div>
</div>

<app-registration-modal (onHide)="visibleRegistration = false" [visible]="visibleRegistration" (onNavigateToLogin)="visibleLogin = true"></app-registration-modal>
<app-login-modal (onHide)="visibleLogin=false" [visible]="visibleLogin" (onNavigateToRegistration)="visibleRegistration=true"></app-login-modal>
