<div class="container">
  @if(page === 'order') {
    <h1>Заказы</h1>
  }


  <div class="items" [ngClass]="{history: page === 'orders-history'}">
    @for(item of orders; track item) {
      <app-order-item [history]="page === 'orders-history'" [item]="item"></app-order-item>
    } @empty {
      <div class="empty">
        <img src="assets/images/no-favourite.png" alt="">
        <h2>Заказов пока нет</h2>
      </div>
    }
  </div>
  @if(page === 'order') {
    <div class="items-total">
      <div class="divider"></div>
      <div class="total">Всего {{countProduct}} на сумму {{total}} BYN</div>
      <div class="divider"></div>
    </div>
  }

</div>


