<p-toast />
<div class="container">
  @if(page === 'order') {
  <div class="wrapper">
    <h1>Заказы</h1>
    <div class="wrapper__button">
      <p-button (onClick)="exportToCSV()" label="Экспорт в CSV" severity="contrast" ></p-button>
    </div>
  </div>

  <div class="items">
    @if(!loading) {
      @for(item of orders; track item) {
        <app-order-item [item]="item"></app-order-item>
      } @empty {
        <div class="empty">
          <img src="assets/images/no-favourite.png" alt="">
          <h2>Заказов пока нет</h2>
        </div>
      }
    }
  </div>
  }

  @if(page === 'orders-history') {
    <div class="items" [ngClass]="{history: page === 'orders-history'}">
      @if(!loading) {
        <p-accordion class="w-full" expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
          @for(item of orders; track item) {
            <p-accordionTab>
              <ng-template pTemplate="header">
                <app-order-item [history]="page === 'orders-history'" [item]="item"></app-order-item>
              </ng-template>
              <app-order-item-detail [idOrder]="item.id" [history]="true"></app-order-item-detail>
            </p-accordionTab>
          } @empty {
            <div class="empty">
              <img src="assets/images/no-favourite.png" alt="">
              <h2>Заказов пока нет</h2>
            </div>
          }
        </p-accordion>
      }
    </div>
  }

  @if(page === 'order') {
  <div class="items-total">
    <div class="divider"></div>
    <div class="total">Всего {{countProduct}} на сумму {{total}} BYN</div>
    <div class="divider"></div>
  </div>
  }

</div>
