.wrapper {
  margin-top: 20px;
  @media(max-width:704px) {
    margin-top: 0;
  }

  @media(max-width:704px) {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 30px;
    @media(max-width:704px) {
      display: none;
    }

    &.isFilter {
      display: none;
    }

    &.isProfile {
      display: none;
    }

  }
  .car {
    padding: 24px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    @media(max-width:704px) {
      display: flex;
      flex-direction: column;
      gap:20px;
    }
    &__model {
      @media(max-width:704px) {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 100%;
      }
    }

    &.isFilter {
      flex-direction: column;
      height: calc(50vh - 60px);
    }

    &__input-label {
      white-space: nowrap;
    }

    &__title {
      height: 42px;
      display: flex;
      justify-content: center;
      gap: 15px;
      align-items: center;
      width: 100px;

      &.isFilter {
        padding-left: 5px;
        
        justify-content: flex-start;
      }

      &__label {
        display: flex;
        align-items: center;
        height: 25px;
        font-size: 20px;
      }

      img {
        height: 25px;
      }
    }

    &__divider {
      height: 42px;
      width: 1px;
      border: 1px solid #ededed;
      @media(max-width:568px) {
        display: none;
      }

      &.isFilter {
        display: none;
      }
    }

    &__model {
      margin-right: auto;
    }

    &_image {
      height: 60px;
      align-self: flex-end;
    }
  }
}
