<div class="wrapper">
  <div [ngClass]="{isFilter, isProfile}" class="wrapper__title">Гараж</div>
  <div class="car" [ngClass]="{isFilter}">
    @if(!isProfile) {
      <div [ngClass]="{isFilter}" class="car__title">
        <img src="assets/icons/garage.svg" alt="garage-icon">
        <div class="car__title__label">Гараж</div>
      </div>
    } @else {
      <div class="car__input-label">
        Выберите машину
      </div>
    }
    <div [ngClass]="{isFilter}" class="car__divider"></div>
    <div class="car__mark">
      <p-dropdown
        [(ngModel)]="selectedMark"
        [editable]="true"
        placeholder="Выберите марку"
        [options]="marks"
        optionLabel="name"
        optionValue="id"
        (onChange)="onChangeMark($event)"
      ></p-dropdown>
    </div>
    <div class="car__model">
      <p-dropdown
        [options]="models"
        [(ngModel)]="selectedModel"
        [loading]="loading"
        [editable]="true"
        (onChange)="onChangeModel($event)"
        placeholder="Выберите модель"
        optionLabel="name"
        optionValue="id"
      ></p-dropdown>
    </div>
    <div class=" animate__animated animate__fadeInLeft car__image">
      <img [src]="carImage ? 'assets/images/' + carImage + '.webp' : 'assets/images/zaglushka.webp'" alt="car-image">
    </div>
  </div>
</div>
