<div class="container">
  <div class="auto-part">
    <div class="div">
      <app-filters
        (onRangeValueChange)="changeRangeValue($event)"
        (onFavouriteChange)="changeFavourite($event)"
      ></app-filters>
      <app-garage
        [isFilter]="true"
        (onChangeGarage)="changeGarage($event)"
      ></app-garage>
    </div>
    <div class="auto-part__items">
      @let data = autoPartService.search$ | async;
      @for(item of autoParts | search : data | price : rangeValues | favourite: favourite ;track item) {
        <app-auto-part [isAdmin]="isAdmin" (onUpdateFavourite)="updateFavourite($event)"  [item]="item"></app-auto-part>
      } @empty {
        <div class="empty">
          <img src="assets/images/no-search-results.png" alt="">
          <h2>Автозапчастей пока нет</h2>
        </div>
      }
    </div>
  </div>
</div>
