<div class="container">
  <div class="auto-part">
    <div class="div">
      <app-filters
        (onRangeValueChange)="changeRangeValue($event)"
        (onFavouriteChange)="changeFavourite($event)"
      ></app-filters>
      <app-garage
        [isFilter]="true"
        (onChangeGarage)="changeGarage($event)"
      ></app-garage>
    </div>
    <div class="auto-part__items">
      @let data = autoPartService.search$ | async;
      @for(item of autoParts | search : data | price : rangeValues | favourite: favourite ;track item) {
        <app-auto-part (onUpdateFavourite)="updateFavourite($event)"  [item]="item"></app-auto-part>
      } @empty {
        Нет данных
      }
    </div>
  </div>
</div>
