.auto-part {
  display: flex;
  gap: 20px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    width: 100%;


    &::-webkit-scrollbar {
      width: 12px;               /* ширина scrollbar */
    }
    &::-webkit-scrollbar-track {
      background: white;        /* цвет дорожки */
    }
    &::-webkit-scrollbar-thumb {
      background-color: lightgray;    /* цвет плашки */
      border-radius: 20px;       /* закругления плашки */
      border: 3px solid #fafafa;  /* padding вокруг плашки */
    }
  }
}
