<div class="container">
<div class="items">
  @for(item of basketItems; track item.basket_id) {
    <app-cart-item (onDelete) = "deleteBasketItem($event)" [baketItem]="item"></app-cart-item>
  } @empty {
    @for(item of [1,2,3,4]; track item) {
      <p-skeleton width="100%" height="152px"></p-skeleton>
    }
  }
</div>
<div class="total">
  <div class="total-back">
    <p-button
    (onClick)="back()"
    label="Вернуться к покупкам"
    icon="pi pi-chevron-circle-left"
    />
  </div>
  <div class="total-result">
    <div class="wrap-price">
      <div class="wrap-price__old"></div>
    </div>
    <div class="wrap-buttons"></div>
  </div>
</div>
</div>