.items {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 324px);
  margin-bottom: 20px;
  gap: 15px;
  padding: 15px 20px;
  overflow-y: scroll;
  border-radius: 10px;

  &::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: white;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #fafafa;  /* padding вокруг плашки */
  }
}

.total {
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin: 0 20px 24px;
  height: 200px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.total-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding: 15px 30px;
  width: 800px;
  height: 160px;
  border-radius: 10px;
  border: 2px #f67828 solid;
  background-color: rgba(246, 120, 40, 0.05);
}

.wrap-price {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__old {
    display:flex;
    justify-content: flex-end;
    color: #8c8c8c;
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    text-decoration: line-through;
  }

  &__sum {
    color:#000000;
    font-size: 20px;
    line-height: 14px;
    font-weight: 400;
  }



  &__delivery{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 7px;

    &__icon {
      display: flex;
      align-items:center;
    }

    &__title {
      font-size: 16px;
      color: #505050;
    }

    &__title-color{
      color: #70ba28;
    }
  }
}

.wrap-buttons {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items:flex-end;
  padding-bottom: 10px;
  gap: 50px;

  &__phone-title {
    color: #505050;
    font-size: 18px;
    text-align: center;

    &.error {
      color: red;
    }
  }

  &__phone-input {
    display: flex;
    align-items:center;
    gap: 10px;
    flex-direction: column;
  }

  &__phone-input input {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 15px;
    border: 2px #f67828 solid;
    border-radius: 10px;
    background-color: white;
  }
}

.phone-mask {
  color: #505050;
  font-size: 14px;
}


.empty {
  width: 100%;
  height: calc(100vh - 324px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}