:host {
  display: block;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  height: calc(100vh - 110px);
  overflow-y: auto;
  width: 100%;
  padding-top: 0;


  &::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: white;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #fafafa;  /* padding вокруг плашки */
  }
}

.empty {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
