.order-auto-part {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.order-auto-part-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .order-autopart-left {
    display: flex;
    gap: 20px;

    .image-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 84px;
      
      img {
        height: 84px;
      }
    }
  
    .order-autopart-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__description {
        color: #333;
        font-weight: bold;
        font-weight: 600;
      }

      &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        padding: 10px 12px;
        background-color: #2980b9;
        max-width: 98px;
        height: 36px;
        
        &__title {
          display: flex;
          white-space: nowrap;
          font-size: 13px;
          font-weight: 600;
          color: #ebebeb;
        }

        &__icon {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: blue;
          color: #ebebeb;
          font-size: 14px;
          font-weight: 600;
        }
      }
      &__id {
        color: #8c8c8c;
      }
    }
  }

  .order-autopart-right {
    display: flex;
    gap: 40px;

    .divider {
      height: 86px;
      width: 1px;
      background-color:#8c8c8c;
    }

    .wrap-price {
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__count{
        color: #505050;
        font-size: 13px;
      }

      &__total-price {
        color: #333;
        font-weight: bold;
      }

      &__one-price {
        color: #8c8c8c;
        font-size: 13px;
      }
    }
  }
}
