<div  class="order-auto-part">
  <div class="order-auto-part-wrap">
    <div class="order-autopart-left">
      <div class="image-wrap">
        <img width="84px" src="../../../assets/images/autopart29_1.webp" alt="">
      </div>
      <div class="order-autopart-content">
        <div class="order-autopart-content__description">Airline AN-M-01 - Салфетки влажные для стеклянных поверхностей  {{ orderAutoPart }}</div>
        <div class="order-autopart-content__button">
          <div class="order-autopart-content__button__title">Принят</div>
          <div class="order-autopart-content__button__icon">i</div>
        </div>
        <div class="order-autopart-content__id">Код товара: A.453325</div>
      </div>
    </div>
    <div class="order-autopart-right">
      <div class="divider"></div>
      <div class="wrap-price">
        <div class="wrap-price__count">2шт.</div>
        <div class="wrap-price__total-price">40.90 BYN</div>
        <div class="wrap-price__one-price">20.45 BYN</div>
      </div>
    </div>
  </div>
  
  
</div>
