<div  class="order-auto-part">
  <div class="order-auto-part-wrap">
    <div class="order-autopart-left">
      <div class="image-wrap">
        <img [src]="imageSrc" alt="" onerror="src = 'assets/icons/zaglushka.svg'">
      </div>
      <div class="order-autopart-content">
        <div class="order-autopart-content__description">{{orderAutoPart?.description}} </div>
        @if(isConfirmed) {
          @if (history) {
            <p-chip [style]="{background: '#22c55e', color: '#fff'}" label="Завершен" />
          } @else {
            <p-chip [style]="{background: '#3B82F6', color: '#fff'}" label="Принят" />
          }
         
        } @else {
          <p-chip label="Ожидает подтверждения" />
        }
        
        
        <div class="order-autopart-content__id">Код товара: A.000000{{orderAutoPart?.AutopartsId}}</div>
      </div>
    </div>
    <div class="order-autopart-right">
      <div class="divider"></div>
      <div class="wrap-price">
        <div class="wrap-price__count">{{orderAutoPart?.count}}шт.</div>
        <div class="wrap-price__total-price">{{totalPrice}} BYN</div>
        <div class="wrap-price__one-price">{{orderAutoPart?.price}} BYN</div>
      </div>
    </div>
  </div>
  
  
</div>
