<p-dialog (onHide)="hideForm()" [draggable]="false"  [dismissableMask]="true" header="Регистрация" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
  <div class="password-info">
    <span class="p-text-secondary block">Пароль должен иметь:</span>
    <ul class="m-2 pl-4">
      <li class="p-text-secondary">Одну большую букву</li>
      <li class="p-text-secondary">3 или более цифр</li>
      <li class="p-text-secondary">Длинну более 8</li>
      <li class="p-text-secondary">Один специальный символ {{'!@#$%^&*'}}</li>
      <li class="p-text-secondary">Только латинские буквы</li>
    </ul>
  </div>
  @if(email["touched"]) {
    @if(emailError?.isExist) {
      <div class="error">Введеный E-mail уже существует. Введите другой.</div>
    }
  }
  @if(password["touched"]) {
      @if(passwordError?.uppercase) {
        <div class="error">Пароль должен иметь одну большую букву.<br>Введите другой пароль.</div>
      } @else if(passwordError?.digitCount) {
        <div class="error">Пароль должен иметь 3 или более цифр.<br>Введите другой пароль.</div>
      } @else if(passwordError?.len) {
        <div class="error">Пароль должен иемть длинну более 8..<br>Введите другой пароль.</div>
      } @else if (passwordError?.char) {
        <div class="error">Один специальный символ {{'!@#$%^&*'}}</div>
      } @else if (passwordError?.letters) {
        <div class="error">Только латинские буквы</div>
      } @else if (!passwordEqual) {
        <div class="error">Пароли должны совпадать</div>
      }
  }
  <form class="mt-3" [formGroup]="form">
    <div class="flex align-items-center gap-3 mb-3">
      <label for="Username" class="font-semibold w-10rem">Имя</label>
      <input
        [ngClass]="{
          'ng-invalid ng-dirty': form.controls.username['touched'] && form.controls.username.invalid
        }"
        formControlName="username"
        pInputText
        id="Username"
        class="flex-auto"/>
    </div>

  @let status = email.statusChanges| async;

  <div class="relative flex align-items-center gap-3 mb-3">
    <label for="Email" class="font-semibold w-10rem">E-mail</label>
      <input
        [ngClass]="{
          'ng-invalid ng-dirty': form.controls.email['touched'] && form.controls.email.invalid
        }"
        formControlName="email"
        pInputText
        id="Email"
        class="flex-auto"
      />
      @if(status === 'PENDING') {
        <p-inputIcon style="position: absolute; right: 13px;" styleClass="pi pi-spinner pi-spin"/>
      }
  </div>
  <div class="flex align-items-center gap-3 mb-3">
      <label for="Password" class="font-semibold w-10rem">Пароль</label>
      <p-password
        [ngClass]="{
          'ng-invalid ng-dirty': form.controls.password['touched'] && form.controls.password.invalid
        }"
        [feedback]="false"
        [inputStyle]="{width: '21rem'}"
        [toggleMask]="true"
        formControlName="password"
        id="Password"
        class="flex-auto"
      />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="RepeatPassword" class="font-semibold w-10rem">Пароль еще раз</label>
    <p-password
      [ngClass]="{
        'ng-invalid ng-dirty': form.controls.repeatPassword['touched'] && form.controls.repeatPassword.invalid
      }"
      [feedback]="false"
      [inputStyle]="{width: '21rem'}"
      [toggleMask]="true"
      formControlName="repeatPassword"
       id="RepeatPassword"
       />
  </div>
  <div class="flex justify-content-end gap-2">
      <p-button [style]="{width: '120px'}" label="Отмена" severity="secondary" (onClick)="this.onHide.next(false)" />
      <p-button (onClick)="createAccount()" [disabled]="form.invalid || !passwordEqual || status ==='PENDING' " label="Зарегистрироваться" />
  </div>
  </form>
  <div class="flex align-items-center justify-content-center gap-3 mt-2">
    <div class="p-text-secondary">Уже есть аккаунт?</div>
    <p-button (onClick)="navigateToLogin()" label="Войти" [link]="true" />
  </div>
</p-dialog>
