<p-dialog (onHide)="onHide.next(false)" [draggable]="false"  [dismissableMask]="true" header="Регистрация" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }">
  <span class="p-text-secondary block mb-2">Пароль должен иметь:</span>
  <ul>
    <li class="p-text-secondary" [ngClass]="{valid: !form.controls.password.errors?.['uppercase']}">Одну большую букву</li>
    <li class="p-text-secondary" [ngClass]="{valid: !form.controls.password.errors?.['digitCount']}">3 или более цифр</li>
    <li class="p-text-secondary" [ngClass]="{valid: !form.controls.password.errors?.['len']}">Длинну более 8</li>
    <li class="p-text-secondary" [ngClass]="{valid: !form.controls.password.errors?.['char']}">Один специальный символ {{'!@#$%^&*'}}</li>
    <li class="p-text-secondary" [ngClass]="{valid: !form.controls.password.errors?.['letters']}">Только латинские буквы</li>
    <li class="p-text-secondary" [ngClass]="{valid: passwordEqual}">Пароли должны совпадать</li>
  </ul>
  <form [formGroup]="form">
    <div class="flex align-items-center gap-3 mb-3" style="display: flex;">
      <label for="Username" class="font-semibold w-10rem">Пользователь</label>
      <input formControlName="username" pInputText id="Username" class="flex-auto"/>
  </div>
  <div class="flex align-items-center gap-3 mb-3">
      <label for="Password" class="font-semibold w-10rem">Пароль</label>
      <p-password
        [ngClass]="{
          'ng-invalid ng-dirty': form.controls.password.touched && form.controls.password.invalid
        }"
        [feedback]="false"
        [inputStyle]="{width: '100%'}"
        [toggleMask]="true"
        formControlName="password"
        id="Password"
        class="flex-auto"
      />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="RepeatPassword" class="font-semibold w-10rem">Пароль еще раз</label>
    <p-password
      [ngClass]="{
        'ng-invalid ng-dirty': form.controls.repeatPassword.touched && form.controls.repeatPassword.invalid
      }"
      [feedback]="false"
      [inputStyle]="{width: '100%'}"
      [toggleMask]="true"
      formControlName="repeatPassword"
       id="RepeatPassword"
       />
  </div>
  <div class="flex justify-content-end gap-2">
      <p-button label="Отмена" severity="secondary" (onClick)="this.onHide.next(false)" />
      <p-button (onClick)="createAccount()" [disabled]="form.invalid || !passwordEqual" label="Зарегистрироваться" (onClick)="this.onHide.next(false)" />
  </div>
  </form>
</p-dialog>
