:host {
  width: 100%;
}
.add-profile {
  width: 100%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 11px;

  .input-wrapper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .input-numbers {
    display: flex;
    gap: 24px;

    .input {
      display: flex;
      flex-direction: column;
      gap: 5px;

      width: 25%;
    }
  }
}
