.input-numbers {
    display: flex;
    gap: 20px;
    padding: 24px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
}

.flex {
    display: flex;
    gap: 20px;
}
